/* DESKTOP VIEW */

@media (max-width:3840px) and (min-width:3200px) {

#home{
    height: 2160px;
}


    /* NAVBAR */



.navbar{
    height: 210px !important;
}

img.logo {
    width: 144px;
    height: 144px;
}



.responsive-nav{
    max-width: 150vw !important;
}


.nav-link-hover {
     font-size: 4.2rem !important;
     margin-left: 102px;
     width: 10vw;
}



.responsive-home{
    max-width: 80vw !important;
}


#content {
    padding-top: 47rem;
    height: 86vh;
}


.home #content .fs-2 {
    font-size: 6rem!important;
}

.home #content .fs-5 {
    font-size: 4.25rem!important;
}

.monis-pic-height {
    height: 136%;
}


.responsive-about{
    max-width: 70vw !important;
}

.hire_me {
     font-size: 102px;
}


/* ABOUT */

.about {
     height: 1800px;
}


.about .title {
     font-size: 90px;
     padding-bottom: 80px;
}

.about .title::after {
     font-size: 60px;
}


.about .title::before {
    content: "";
     bottom: 22px;
     width: 482px;
}

.about .fs-4 {
    font-size: 3.5rem!important;
}

.about .about-paragraph{
    font-size: 3.3rem !important;
}


.about a {
     font-size: 62px;
     margin-top: 75px;
}

/* SERVICES */

#services {
     height: 1800px;
}


#services .container{
    max-width: 97vw;
}

.services .title {
     font-size: 90px;
     padding-bottom: 74px;
}

.services .title::after {
     font-size: 54px;
}

.services .title::before {
    content: "";
     bottom: 18px;
     width: 605px;
    height: 9px;

}


.services .pt-5 {
    padding-top: 16rem!important;
}


.services .card-animation {
     padding: 153px 60px;
}

.services .card-animation i {
    font-size: 174px;
}

.services .fs-1 {
    font-size: 3.5rem!important;
}



.services .card-animation-2 {
     padding: 153px 60px;
}

.services .card-animation-2 i {
    font-size: 174px;
}

.services .card-animation-3 {
         padding:124px 60px;
    }

.services .card-animation-3 i {
        font-size: 174px;
    }

.services  .fs-2 {
        font-size: 4rem!important;
    }


    .services    .fs-6 {
        font-size: 3rem!important;
    }

    /* SKILLS */

    #skills {
         height: 1500px;
    }


    #skills .container{
        max-width: 76vw;
    }

    .skills .title {
      font-size: 120px;
      padding-bottom: 106px;

    }

    .skills .title::after {
         font-size: 70px;
    }
    .skills .title::before {
        content: "";
         bottom: 24px;
         width: 16vw;
height: 10px;    
}

.skills .pt-5 {
    padding-top: 17rem!important;
}
                               
    
.skills .fs-5 {
    font-size: 4rem!important;
}

.skills .fs-4 {
    font-size: 3.5rem!important;
}


.skills .info {
     margin-bottom: 108px;
}

.skills span {
    font-weight: 500;
    font-size: 51px;
}

/* FEEDBACK */


#feedback{
    height: 2350px;
}

.feedback .title {
     font-size: 110px;
     padding-bottom: 92px;
}

.feedback .title::before {
    content: "";
     bottom: 23px;
     width: 24vw;
    height: 10px;
}


.feedback .title::after {
     bottom: -8px;
     font-size: 74px;
}


.feedback .pt-5 {
    padding-top: 16rem!important;
}

.feedback .card-animation {
     padding:190px 15px;
width:35rem !important;
}
.feedback .card-animation img {
    top: -17%;
    height: 16vh;
    width: 10vw;
   left: 14%;
}
.feedback .card-animation-2 {
    padding: 190px 15px;
width: 35rem !important;
}
.feedback .card-animation-2 img {
    top: -17%;
    height: 16vh;
    width: 10vw;
     left: 14%;
}
.feedback .card-animation-3 {
    padding: 190px 15px;
width: 35rem !important;
}
.feedback .card-animation-3 img {
    top: -17%;
    height: 16vh;
    width: 10vw;
   left: 14%;
}
 
.feedback .container-sm{
    max-width: 50vw;
}
 
.feedback  h2 {
    font-size: 4rem;
}

.feedback .fs-5 {
    font-size: 3.25rem!important;
}
.feedback #carouselExampleIndicators .carousel-indicators [data-bs-target] {
   
    width: 3vw !important;
height: 1vh !important;
}



/* MY PROJECTS */

#My_Projects {
     height: 1800px;
}

#My_Projects .container{
    max-width: 46vw;
}

#My_Projects .title {
     font-size: 114px;
     padding-bottom: 60px;
}

#My_Projects .title::after {
     font-size: 66px;
}

#My_Projects .title::before {
    content: "";
     bottom: 27px;
     width: 16vw;
    height: 6px;
}


#My_Projects .carousel-indicators [data-bs-target] {
     width: 3vw !important;
    height: 1vh !important;
}
#My_Projects .title2 {
    height: 86.3%;
     padding-top: 24rem;
}


#My_Projects .title3 {
     font-size: 4.5rem;
     padding-bottom: 60px;
}
    #My_Projects .title3::after {
    width: 36vw; 
    font-size: 3rem;
}


#My_Projects .title3::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}


#My_Projects .title4 {
     font-size: 5rem;
     padding-bottom: 60px;
}

#My_Projects .title4::after {
    width: 36vw;
    font-size: 3rem;
}




#My_Projects .title4::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}
#My_Projects .title5 {
     font-size: 4.5rem;
     padding-bottom: 60px;
}

#My_Projects .title5::after {
    width: 40vw;
    font-size: 2.5rem;
}




#My_Projects .title5::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}
#My_Projects .title11 {
     font-size: 4.5rem;
     padding-bottom: 60px;
}

#My_Projects .title11::after {
    width: 36vw;
    font-size: 3rem;
}




#My_Projects .title11::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}

#My_Projects .title6 {
     font-size: 4.5rem;
     padding-bottom: 60px;
}

#My_Projects .title6::after {
    width: 40vw;
    font-size: 3rem;
}




#My_Projects .title6::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}
#My_Projects .title7 {
     font-size: 4.5rem;
     padding-bottom: 60px;
}

#My_Projects .title7::after {
    width: 40vw;
    font-size: 2.5rem;
}




#My_Projects .title7::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}


#My_Projects .title8 {
    height: 86.3%;
     padding-top: 24rem;
}        


#My_Projects .title9 {
     font-size: 4.5rem;
     padding-bottom: 60px;
}

#My_Projects .title9::after {
    width: 40vw;
    font-size: 3rem;
}




#My_Projects .title9::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}

#My_Projects .title10 {
     font-size: 4.5rem;
     padding-bottom: 60px;
}

#My_Projects .title10::after {
    width: 40vw;
    font-size: 3rem;
}




#My_Projects .title10::before {
    width: 45vw; 
    content: "";
    bottom: 8%;
}


#My_Projects .carousel-item{
    height:58.3% !important;
}

 #My_Projects .desktop-view .card-animation{
    width: 35rem !important;
    height: 30vh !important;
}

#My_Projects .desktop-view .card-animation-2{
    width: 35rem !important;
    height: 30vh !important;
}

#My_Projects .desktop-view .card-animation-3{
    width: 35rem !important;
    height: 30vh !important;
}


#My_Projects .desktop-view .card-animation-4{
    width: 35rem !important;
    height: 30vh !important;
}


#My_Projects .btn{
    font-size: 4rem !important;
}




#My_Projects .desktop-view .carousel-item .max-width {
    max-width: 1775px !important;
}

.Projert_img14 {
height: 24vh;
}

.Projert_img15 {
height: 24vh;
}

.Projert_img16 {
height: 24vh;
}


.Projert_img17 {
height: 24vh;
}

.Projert_img18 {
height: 24vh;
}

.Projert_img19 {
height: 24vh;
}

.Projert_modal_img1 {
     height: 32vh !important;
}

#My_Projects .fs-2 {
    font-size: 4rem!important;
}


#My_Projects .btn-close{
font-size: 6rem;
}

.Projert_modal_img2 {
     height: 32vh !important;
}


.Projert_modal_img3 {
     height: 32vh !important;
}



.Projert_modal_img4 {
     height: 32vh !important;
}




.Projert_modal_img5 {
     height: 32vh !important;
}




.Projert_modal_img6 {
     height: 32vh !important;
}



.Projert_modal_img7 {
     height: 32vh !important;
}



.Projert_modal_img8 {
     height: 32vh !important;
}



.Projert_modal_img9 {
     height: 32vh !important;
}


.Projert_modal_img10 {
     height: 32vh !important;
}


.Projert_modal_img11 {
     height: 32vh !important;
}


.Projert_modal_img12 {
     height: 32vh !important;
}


.Projert_modal_img13 {
     height: 32vh !important;
}


.Projert_modal_img14 {
     height: 32vh !important;
}

#My_Projects .fs-4 {
    font-size: 2.5rem!important;
}

#My_Projects .modal-dialog{
    max-width: 30vw !important;
    padding-top: 10%;
}
#My_Projects .modal-content {
  top: 10%;
    height: 60vh;
}

/* CONTACT */


#contact{
    height: 1500px;
}


#contact .title {
    font-size: 114px;
    padding-bottom: 60px;
}

#contact .title::after {
    font-size: 66px;
}

#contact .title::before {
   content: "";
    bottom: 27px;
    width: 16vw;
   height: 6px;
}


/* FOOTER */
#footer{
    height: 300px;
}

}

@media (max-width:2600px) and (min-width:1440px) {

    #home{
        height: 1050px;
    }

    .navbar{
    height:130px !important;
    }

    img.logo {
        width: 72px;
        height: 72px;
    }
    .nav-link-hover {
         font-size: 2.2rem !important; 
    }

    #about{
        height: 800px;
    }
#about .about-paragraph{
    font-size: 1.5rem !important;
}

.about a {
    font-size: 32px;
}

#My_Projects {
     height: 1434px;
}

#contact {
    height: 1000px;
}

#footer {
  height: 198px;
}



.nav-link-hover-footer {
     font-size: 2.2rem !important;
}

#footer .fs-5 {
    font-size: 2.25rem!important;
}

}

/* lAPTOPS VIEW */
@media (max-width:1350px) {

    .monis-pic-height {
        height: 96%;
    }

}

@media (max-width:1230px) {
    #My_Projects .title3::before {
        width: 34vw;
        content: "";
    }

    #My_Projects .title4::before {
        width: 34vw;
        content: "";
    }

    #My_Projects .title5::before {
        width: 40vw;
        content: "";
    }


    #My_Projects .title11::before {
        width: 40vw;
        content: "";
    }



    #My_Projects .title6::before {
        width: 38vw;
        content: "";
    }


    #My_Projects .title7::before {
        width: 40vw;
        content: "";
    }



    #My_Projects .title8::before {
        width: 34vw;
        content: "";
    }




    #My_Projects .title9::before {
        width: 30vw;
        content: "";
    }




    #My_Projects .title10::before {
        width: 25vw;
        content: "";
    }

}


@media (max-width:1199px) {
    .M_M_S {
        font-size: 2rem !important;
    }


    .M-logo {
        height: 60vh;
        width: 92%;
    }

    #services {
        height: 1122px;
    }

    .services .card-animation {
        padding: 45px 25px;
        height: 96%;
    }



    .services .card-animation-2 {
        height: 96%;
        padding: 40px 25px;
    }


    .services .card-animation-3 {
        height: 96%;
    }


    #skills {
        height: 1000px;
    }

    .MCSE {
        font-size: 2rem !important;
    }


    .skills .info {
        margin-bottom: 20px;
    }
}


@media (max-width:1072px){

    .monis-pic-height {
        padding-top: 82px;
        height: 100%;
        width: 48vw;
    }
    

    #skills {
        height: 1080px;
    }
    
}
@media (width: 1024px){
    #home {
         height: 1000px;
    }
    .navbar{
        height: 150px !important;
    }

    img.logo {
        width: 90px;
        height: 90px;
    }

.monis-pic-height {
    padding-top: 138px;
    height: 88%;
    width: 75vw;
    left: 25%;
    position: absolute;
}

#content {
    padding-top: 26rem;
    height: 63vh;
}

.about {
    font-family: 'Poppins', sans-serif;
    height: 55%;
}
.M-logo {
    height: 30vh;
}

#services {
    height: 680px;
}

#skills {
    height: 580px;
}

#feedback {
     height: 820px;
}


#My_Projects {
     height: 1060px;

}

#My_Projects .desktop-view .card-animation{
     height: 30vh !important;
}


#My_Projects .desktop-view .card-animation-4{
    height: 30vh !important;
}

#contact {
     height: 660px;
}
#footer {
     height: 160px;
}

}

@media (max-width: 1000px){
.monis-pic-height {
    padding-top: 123px;
     width: 47vw;
}
}

/* TABLET VIEW */

@media (max-width:991px) {
   
    img.logo {
        width: 50px;
        height: 50px;
    }    


    .about {
         height: 1200px;
    }

    
    #services {
        height: 1520px;
    }
    
    
    #skills {
        height: 2000px;
    }

    
    .skills .info {
        margin-top: 22px;
        margin-bottom: 60px;
    }

    .desktop-view{
        display: none;
    }


    .mobile-tablet-view{
        display: inline;
    }
    
    #My_Projects{
        height: 2600px;
    }

    #My_Projects .title2 {
        height: 35%;
    }
    
    #My_Projects .title8 {
        height: 35%;
    }
    
    .My_Projects .card-animation-4 {
         height: 60vh;
    }




    #My_Projects .title3::before {
        width: 40vw;
        content: "";
    }

    #My_Projects .title4::before {
        width: 40vw;
        content: "";
    }

    #My_Projects .title5::before {
        width: 40vw;
        content: "";
    }


    #My_Projects .title5::after{
        font-size: 9px;
    }



    #My_Projects .title11::before {
        width: 40vw;
        content: "";
    }


    #My_Projects .title11::after{
        font-size: 9px;
    }



    #My_Projects .title6::before {
        width: 40vw;
        content: "";
    }

    
    #My_Projects .title6::after{
        font-size: 9px;
    }



    #My_Projects .title7::before {
        width: 40vw;
        content: "";
    }

    #My_Projects .title7::after{
        font-size: 8px;
    }
 

    #My_Projects .title9::before {
        width: 35vw;
        content: "";
    }




    #My_Projects .title10::before {
        width: 30vw;
        content: "";
    }

    #contact {
         height: 850px;
    }    


.responsive-height{
    height: 156px;
}

.item:after, .item:before {
    opacity: 1!important;
}

}
@media (width:834px) {
    #home {
         height: 880px;
    }
 
    .navbar{
        height: 100px !important;
    }

    img.logo {
        width: 80px;
        height: 70px;
    }

    #content {
        padding-top: 22rem;
        height: 560px;
    }


.monis-pic-height {
    height: 84%;
    padding-top: 123px;
    width: 78vw;
    position: absolute;
    left: 22%;
}

.about {
    height: 1080px;
}

.M-logo {
    height: 30vh;
    top: 262px;
    position: relative;
}

.about .fs-4 {
    font-size: 2rem !important;
}

.about-paragraph{
    font-size: 20px !important;
}


#services {
    height: 1080px;
}

#skills {
    height: 1198px;
}
#feedback {
    height: 650px;
}

#My_Projects {
    height: 1600px;
}


.Projert_img3 {
     height: 20vh!important;
}


.Projert_img4 {
    height: 20vh!important;
}


.Projert_img5 {
    height: 20vh!important;
}


.Projert_img6 {
    height: 20vh!important;
}


.Projert_img7 {
    height: 20vh!important;
}

.Projert_img9 {
     height: 26% !important;
}

.Projert_img11 {
     height: 28% !important;
}


.Projert_img13 {
    height: 28% !important;
}

.Projert_img14 {
     height: 50vh !important;
}

.Projert_img15 {
    height: 24vh !important;
}

.Projert_img16 {
    height: 24vh !important;
}

.Projert_img17 {
    height: 24vh !important;
}

.Projert_img18 {
    height: 24vh !important;
}

.Projert_img19 {
    height: 24vh !important;
}

#My_Projects #carouselExampleDarkL .card-animation{
        height: 36vh !important;
}


#My_Projects #carouselExampleDarkL .card-animation-4{
    height: 36vh !important;
}

#contact {
    height: 880px;
}

#footer {
     height: 180px;
}
}

@media (max-width:830px){
    

    #My_Projects .title3::before {
        width: 48vw;
        content: "";
    }

    #My_Projects .title4::before {
        width: 48vw;
        content: "";
    }

    #My_Projects .title5::before {
        width: 48vw;
        content: "";
    }
 

    #My_Projects .title11::before {
        width: 48vw;
        content: "";
    }
 



    #My_Projects .title6::before {
        width: 48vw;
        content: "";
    }

     


    #My_Projects .title7::before {
        width: 48vw;
        content: "";
    }
 

    #My_Projects .title8::before {
        width: 40vw;
        content: "";
    }




    #My_Projects .title9::before {
        width: 45vw;
        content: "";
    }




    #My_Projects .title10::before {
        width: 40vw;
        content: "";
    }




}

@media (width:810px){
    #home{
        height: 1000px;
    }
    .navbar{
        height: 130px !important;
    }
        img.logo {
            width: 70px;
            height: 70px;
        }

    #content {
        padding-top: 19rem;
        height: 700px;
    }

.monis-pic-height {
    padding-top: 110px;
    width: 78vw;
    position: absolute;
    left: 22%;
    height: 88%;
}

.about {
    height: 900px;
}

.M-logo {
    height: 30vh;
    position: relative;
    top: 28%;
}


.about .about-paragraph{
    font-size: 18px !important;
}


#services {
    height: 980px;
}

#skills {
    height: 1220px;
}
#feedback {
     height: 660px;
}

#My_Projects {
    height: 1900px;
}


#My_Projects #carouselExampleDarkw .card-animation-4{
     height: 44vh !important; 
}

#My_Projects #carouselExampleDarkw .card-animation{
    height: 82% !important;
}

#My_Projects #carouselExampleDarkL .card-animation{
     height: 80%;
}


#My_Projects #carouselExampleDarkL .card-animation-4{
     height: 82% !important;
}

#contact {
    height: 880px;
}

#footer {
     height: 180px;
}

}

@media (max-width:770px){
    

.nav-link-hover-footer {
     font-size: 1rem !important;
}

}

@media (width:768px){
    #home {
         height: 720px;
    }

    .navbar{
    height: 120px !important;
}

img.logo {
    width: 80px;
    height: 80px;
}
.monis-pic-height {
    height: 86%;
    padding-top: 75px;
    width: 72vw;
    position: absolute;
    left: 28%;
}

.about {
    height: 1040px;
}

.M-logo {
    height: 32vh;
    position: relative;
    top: 26%;
}

.about .about-paragraph{
    font-size: 20px !important;
}

#services {
    height: 1020px;
}


#skills {
    height: 1236px;
}

#feedback {
     height: 640px;
}

#My_Projects {
    height: 1760px;
}

#contact {
    height: 920px;
}

#footer {
     height: 160px;
}

}

/* MOBILE VIEW */

@media (max-width:767px){
#home {
    height: 1660px;
   }


   #content {
       padding-top: 9rem;
       height: 620px;
   }


   .monis-pic-height {
       padding-top: 0px;
       width: 80vw;
       position: relative;
       right: 40px;
   }
                
   .M-logo {
    width: 100%;
    height: 75vh;
}

.about {
   height: 172vh;
}

img.logo {
   width: 70px;
height: 70px;
}

#services {
    height: 1840px;
}




#My_Projects .title3::after {
    width: 45vw; 
}


#My_Projects .title3::before {
    width: 55vw; 
    content: "";
}

#My_Projects .title4::after {
    width: 54vw;
    font-size: 12px;
}




#My_Projects .title4::before {
    width: 60vw; 
    content: "";
}

#My_Projects .title5::after {
    width: 54vw;
font-size: 10px;
}


#My_Projects .title5::before {
    width: 60vw; 
    content: "";
}

#My_Projects .title11::after {
    width: 54vw;
    font-size: 12px;
}



#My_Projects .title11::before {
    width: 60vw; 
    content: "";
}

#My_Projects .title6::after {
    width: 54vw;
    font-size: 12px;
}

 
#My_Projects .title6::before {
    width: 60vw; 
    content: "";
}


#My_Projects .title7::after {
    width: 54vw;
    font-size: 10px;
}



#My_Projects .title7::before {
    width: 60vw; 
    content: "";
}

        

#My_Projects .title9::after {
    width: 50vw;
    font-size: 12px;
}


#My_Projects .title9::before {
    width: 60vw; 
    content: "";
}


#My_Projects .title10::after {
    width: 50vw;
    font-size: 12px;
}


#My_Projects .title10::before {
    width: 60vw; 
    content: "";
}



.responsive-card{
    position: relative;
    left: 110px;
}

}


@media (max-width:640px){

    img.logo {
        width: 60px;
        height: 60px;
    }

.nav-link-hover-footer { 
    padding: 0px;
    margin-left: 20px;
}


#footer .fs-5 {
    font-size: 1.2rem!important;
}






#My_Projects .title3::after {
    width: 50vw; 
}
 

#My_Projects .title4::after {
    width: 60vw;
    font-size: 12px;
}

#My_Projects .title4::before {
    width: 70vw;
content: "";
}

                                  

#My_Projects .title5::after {
    width: 70vw;
font-size: 12px;
}


#My_Projects .title5::before {
    width: 80vw;
content: "";
}



#My_Projects .title11::after {
    width: 65vw;
    font-size: 12px;
}

#My_Projects .title11::before {
    width: 80vw;
content: "";
}

 
#My_Projects .title6::after {
    width: 65vw;
    font-size: 12px;
}

#My_Projects .title6::before {
    width: 80vw;
content: "";
}
                       


#My_Projects .title7::after {
    width: 75vw;
    font-size: 12px;
}


#My_Projects .title7::before {
    width: 80vw;
content: "";
}
  
 

#My_Projects .title9::after {
    width: 55vw;
    font-size: 12px;
}

 

#My_Projects .title10::after {
    width: 55vw;
    font-size: 12px;
}

 



}




@media (max-width: 600px){
#home {
    height: 1440px;
}




#My_Projects .title3::after {
    width: 65vw; 
}
 


#My_Projects .title3::before {
    width: 80vw; 
content: "";
}

#My_Projects .title4::after {
    width: 80vw;
    font-size: 12px;
}

#My_Projects .title4::before {
    width: 90vw;
content: "";
}

                                  

#My_Projects .title5::after {
    width: 80vw;
font-size: 12px;
}


#My_Projects .title5::before {
    width: 90vw;
content: "";
}



#My_Projects .title11::after {
    width: 70vw;
    font-size: 12px;
}

#My_Projects .title11::before {
    width: 90vw;
content: "";
}

 
#My_Projects .title6::after {
    width: 75vw;
    font-size: 12px;
}

#My_Projects .title6::before {
    width: 90vw;
content: "";
}
                       


#My_Projects .title7::after {
    width: 80vw;
    font-size: 12px;
}


#My_Projects .title7::before {
    width: 90vw;
content: "";
}
  
 

#My_Projects .title9::after {
    width: 65vw;
    font-size: 12px;
}

#My_Projects .title9::before {
    width: 90vw;
content: "";
}
  
 

#My_Projects .title10::after {
    width: 65vw;
    font-size: 12px;
}

#My_Projects .title10::before {
    width: 90vw;
content: "";
}
  
 


}


@media (max-width: 575px){

.col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
}
}

@media (max-width: 480px){
   
    #home{
        height: 1004px;
    }
   
    .navbar{
        height:80px !important;
    }
        img.logo {
        width: 40px;
        height: 40px;
    }

    .M-logo-container{
        height: 90vh;
    }


    .responsive-card {
    position: relative;
    left: 58px;
}

.about {
    height: 1360px;
}


.about-paragraph{
    font-size: 1.2rem;
}

#services {
    height: 1270px;
}


#skills {
    height: 1238px;

}
}


@media (max-width: 430px){

#My_Projects {
    height: 1900px;
}
}

@media (max-width: 428px){

#My_Projects {
    height: 1800px;
}

}

@media (max-width: 414px){

#content {
    height: 800px;
}


.about {
    height:1300px;
}


#My_Projects {
    height: 1862px;
}

}

@media (max-width: 412px){
#home{
    height: 1260px;
}

    img.logo {
        width: 40px;
        height: 40px;
    }

    #content {
         height: 830px;
    }
.monis-pic-height {
    height: 72%;
    padding-top: 7px;
    width: 98vw;
    position: absolute;
    right: 42px;
}

.about {
    height: 1015px;
}

.M-logo-container {
    height: 46vh;
}


.M-logo {
   height: 38vh;
}


.responsive-card {
    position: relative;
    left: 40px;
}

#services {
    height: 1272px;
}

#skills {
    height: 1214px;
}


}

@media (max-width: 393px){

    #content {
         height: 730px;
    }

.monis-pic-height {
     width: 110vw;
}


.feedback .title::after {
     width: 210px;
}
}

@media (max-width: 390px){

    #home {
        height: 1080px;
    }


.feedback .title::after {
     width: 52%;
}

.about {
    height: 1046px;
}

#footer .fs-5 {
    font-size: 1rem!important;
}

.responsive-card {
    position: relative;
    left: 20px;
}


}

@media (max-width: 384px){

.feedback .title::after {
     width: 54%;
}

.feedback .title::before {
     width: 280px;
}

.responsive-card {
    position: relative;
    left: 22px;
}


}
 

@media (max-width: 375px){

#home{
    height: 1020px;
}

#content {
    height: 840px;
}


.about {
    height: 1000px;
}

#services {
    height: 1304px;
}

#skills {
    height: 1200px;
}


#My_Projects{
    height: 1800px;
}

#My_Projects .mobile-tablet-view .carouselExampleDarkw .carousel-item{
    height: 40% !important;
}



}

@media (max-width: 360px){

    #home {
        height: 1070px;
    }

    .navbar {
        height: 80px !important;
    }

    img.logo {
    width: 50px;
    height: 50px;
}


#content {
        height: 720px;
}

    .monis-pic-height {
    padding-top: 57px;
    width: 98vw;
    height: 82%;
}


.about {
    height: 1114px;
}

.M-logo-container{
    height: 60vh;
}


.M-logo {
     height: 52vh;
}

#services {
    height: 1340px;
}


#skills {
    height: 1200px;
}


#feedback {
     height: 655px;
}

.feedback .title::after {
     width: 62%;
}

.feedback .title::before {
    content: "";
     bottom: 2px;
     width: 278px;
}

.responsive-card {
    position: relative;
    left: 18px;
}


}

@media (max-width: 320px){

#home {
    height: 920px;
}

#content {
    height: 492px;
}

.M-logo-container {
    height: 310px;
}

.about {
    height: 1030px;
}

#services {
    height: 1336px;
}


#skills {
    height: 1230px;
}

#feedback {
     height: 660px;
}


#My_Projects {
    height: 1600px;
}

.responsive-card {
    position: relative;
    left: -8px;
}

#My_Projects #carouselExampleDarkw .card-animation{
     height: 410px !important;
}


#My_Projects #carouselExampleDarkw .card-animation-2{
    height: 410px !important;
}


#My_Projects #carouselExampleDarkw .card-animation-3{
    height: 410px !important;
}

#My_Projects #carouselExampleDarkw .card-animation-4{
    height: 410px !important;
}

#My_Projects #carouselExampleDarkw .carousel-item{
    height: 38% !important;
}
#My_Projects .title2 {
    height: 92%;
}

.col-sm-4 {
    flex: 0 0 auto;
    width: 98.333333% !important;
}

#contact {
    height: 1150px;
}


}