 @media (max-width: 1104px) {

     .My_pic {
         height: 513px;
     }

     .home-content {
         margin-top: -67px;
     }

     .about .about-content .left img {
         height: 350px;
         width: 350px;
     }
 }

 @media (max-width: 991px) {

     .max-width {
         padding: 0 50px;
     }

     .My_pic {
         height: 513px;
     }

     .home-content {
         margin-top: -67px;
     }


 }

 @media (max-width: 947px) {

     .home {
         height: 197vh;
     }


     .My_pic {
         margin-left: -110px;
     }








     .menu__checkbox {
         display: none;
     }

     .menu__button {

         height: 7rem;
         width: 7rem;
         position: fixed;
         right: 1rem;
         border-radius: 50%;
         z-index: 2000;
         text-align: center;
         cursor: pointer;
     }


     .menu__background {
         height: 5rem;
         width: 6rem;
         border-radius: 50%;
         position: fixed;
         right: 1.5rem;
         background-color: white;
         z-index: 1000;
         transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
     }

     .menu__nav {
         height: 100vh;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 1500;
         opacity: 0;
         width: 0;
         transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
     }

     .menu {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         list-style: none;
         text-align: center;
         width: 100%;
     }

     .menu__item {
         margin: 1rem;
     }

     .menu-.menu-btn, .menu-.menu-btn:visited {
         display: inline-block;
         font-size: 3rem;
         font-weight: 300;
         padding: 1rem 2rem;
         color: #fff;
         text-decoration: none;
         text-transform: uppercase;
         background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
         background-size: 220%;
         transition: all .4s;
     }

     .menu-.menu-btn span, .menu-.menu-btn:visited span {
         margin-right: 1.5rem;
         display: inline-block;
     }

     .menu-.menu-btn:hover, .menu-.menu-btn:active {
         background-position: 100%;
         color: white;
         transform: translateX(1rem);
     }

     .menu__checkbox:checked~.menu__background {
         transform: scale(80);
     }

     .menu__checkbox:checked~.menu__nav {
         opacity: 1;
         width: 100%;
     }

     .menu__icon {
         position: relative;
         margin-top: 3.5rem;
     }

     .menu__icon, .menu__icon::before, .menu__icon::after {
         width: 3rem;
         height: 2px;
         background-color: #333;
         display: inline-block;
     }

     .menu__icon::before, .menu__icon::after {
         content: "";
         position: absolute;
         left: 0;
         transition: all .2s;
     }

     .menu__icon::before {
         top: -.8rem;
     }

     .menu__icon::after {
         top: .8rem;
     }

     .menu__button:hover .menu__icon::before {
         top: -1rem;
     }

     .menu__button:hover .menu__icon::after {
         top: 1rem;
     }

     .menu__checkbox:checked+.menu__button .menu__icon {
         background-color: transparent;
     }

     .menu__checkbox:checked+.menu__button .menu__icon::before {
         top: 0;
         transform: rotate(135deg);
     }

     .menu__checkbox:checked+.menu__button .menu__icon::after {
         top: 0;
         transform: rotate(-135deg);
     }


     .navbar .menu li a:hover {
         border: none;
     }


     .navbar .menu li {
         display: block;
     }

     .menu-btn {
         display: block;
         z-index: 999;
     }

     .menu-btn i.active:before {
         content: "\f00d";
     }

     .navbar .menu li a {
         font-size: 20px;
     }

     .home .home-content .text-2 {
         font-size: 70px;
     }

     .home .home-content .text-3 {
         font-size: 35px;
     }

     .home .home-content a {
         font-size: 23px;
         padding: 10px 30px;
     }

     .max-width {
         max-width: 930px;
         flex-wrap: wrap;
     }

     .about .about-content .column {
         width: 100%;
     }

     .about .about-content .left {
         display: flex;
         justify-content: center;
         margin: 0 auto 60px;
     }

     .about .about-content .right {
         flex: 100%;
     }

     .services .serv-content .card {
         width: calc(50% - 10px);
         margin-bottom: 20px;
     }

     .skills .skills-content .column,
     .contact .contact-content .column {
         width: 100%;
         margin-bottom: 35px;
     }

 }

 @media (max-width: 690px) {

     .home {
         height: 195vh;
     }

     .max-width {
         padding: 0 23px;
         flex-wrap: wrap;
     }

     .menu {
         margin-left: -1rem;
     }

     .My_pic {
         margin-left: -110px;
     }

     .home .home-content .text-2 {
         font-size: 60px;
     }

     .home .home-content .text-3 {
         font-size: 32px;
     }

     .home .home-content a {
         font-size: 20px;
     }

     .services .serv-content .card {
         width: 100%;
     }
 }

 @media (max-width: 500px) {
     .home {
         height: 187vh;
     }

     .max-width {
         flex-wrap: wrap;
     }

     .My_pic {
         margin-left: -110px;
     }

     .home .home-content .text-2 {
         font-size: 50px;
     }

     .home .home-content .text-3 {
         font-size: 27px;
     }

     .menu {
         margin-left: -1rem;
     }

     .about .about-content .right .text,
     .skills .skills-content .left .text {
         font-size: 19px;
     }

     .contact .right form .fields {
         flex-direction: column;
     }

     .contact .right form .name,
     .contact .right form .email {
         margin: 0;
     }

     form {
         width: 150px;
     }

     .contact .right form .field, .contact .right form .fields .field {
         height: 45px;
         width: 292%;
         margin-bottom: 24px;
     }

 }


 @media (max-width: 461px){
    .contact .right form .field input, .contact .right form .textarea textarea {
        width: 73%;
 }

}



@media (max-width: 360px){
    .home {
          width: 28.8em;
   }
  
   .about {
      width: 28.8em;
  }
  
  .services {
      width: 28.8em;
  }
  
  .skills {
      width: 28.8em;
  }
  
  .contact {
      width: 28.8em;
  }
   
 
.scroll-up-btn.show {
    display: none;
}
 
  
  }

@media (max-width: 350px){
    .home {
          width: 28.8em;
   }
  
   .about {
      width: 28.8em;
  }
  
  .services {
      width: 28.8em;
  }
  
  .skills {
      width: 28.8em;
  }
  
  .contact {
      width: 28.8em;
  }
   
  
  
  }


@media (max-width: 349px){
  .home {
        width: 28.8em;
 }

 .about {
    width: 28.8em;
}

.services {
    width: 28.8em;
}

.skills {
    width: 28.8em;
}

.contact {
    width: 28.8em;
}

.scroll-up-btn.show {
    display: none;
}


}